@use "./Global.modules.scss";

%Sidebar {
  width: 25%;
   border-right: 1px solid #dee3e9;      
//   background-color: #ffffff;
}
#text_table{
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#text_table:hover{
  overflow: visible; 
  white-space: normal; 
  width: auto;
}
%UserInfo_Manager {
  margin: 20px auto 50px auto;
  border-radius: 10px;
  width: 80%;

  padding: 16px 40px 0px 40px;
}

%UserInfo {
  margin: 20px auto 50px auto;
  border-radius: 10px;
  width: 65%;
  padding: 16px 40px 0px 40px;
}
.background {
    position:fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  background-image: radial-gradient(#ffffff40, #fff0 40%),
    radial-gradient(
      hsl(44, 100%, 66%) 30%,
      hsl(338, 68%, 65%),
      hsla(338, 68%, 65%, 0.4) 41%,
      transparent 52%
    ),
    radial-gradient(hsl(272, 100%, 60%) 37%, transparent 46%),
    linear-gradient(155deg, transparent 65%, hsl(142, 70%, 49%) 95%),
    linear-gradient(45deg, #0065e0, #0f8bff);
  background-size:
    200% 200%,
    285% 500%,
    285% 500%,
    cover,
    cover;
  background-position:
    bottom left,
    109% 68%,
    109% 68%,
    center,
    center;
}
.wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;

  width: 100vw;
  .main_container {
    @extend %fixat1360;
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    .UserSideBar {
      @extend %Sidebar;
    }

    .UserInfo {
      @extend %UserInfo;
    }
  }
}
th{
  white-space:nowrap;
}


